@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}



/* sharecss */

.display-flex{
  display: flex;
}
.main-width{
  max-width: 1160px;
  margin: 0 auto;
}
.story-btn{
  color: rgb(255, 255, 255);
font-family: Raleway;
font-size: 1rem;
font-weight: 500;
line-height: 1.8rem;
letter-spacing: 0%;
text-align: left;
text-transform: capitalize;
margin: 0px;
border-radius: 47.93px;
padding: 10px 20px;
border: none;
}




/* nav-section */

.nav-bar {
  justify-content: center;
  align-items: center;
  gap: 186px;
padding: 20px 0px 20px 0px;
}


.logo-section{
  align-items: center;
  gap: 10px;
}
.logo-title{
  color: rgb(17, 17, 17);
font-family: Quicksand;
font-size: 32px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
margin-right: 14px;
}
  .header-bg{
    /* White */
  background: rgb(247, 247, 247);
  padding: 0px 140px 0px 140px;
  }

.nav-link a{
  color: rgb(254, 163, 1);
font-family: Quicksand;
font-size: 20px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
margin-left: 32px;

}
.sky-link a{
  color: rgb(1, 172, 253);
}
.blue-link a{
  color: rgb(5, 212, 223);
}
.deep-blue a{
  color: rgb(93, 88, 239);
}
.nav-btn button{
  width: 197px;
}
.btn-primary{
  color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 20px;
font-weight: 600;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
border-radius: 12px;
padding: 10px;
border: 0px;
/* Orange */
background: rgb(254, 163, 1);
}
.hidden-nav-bar{
  display:none;
}

@media screen and (max-width:576px) {
  .nav-links, .nav-btn , .logo-section h2 {
    display: none;
  }
  .hidden-nav-bar{
    display:inline-block;
  }
  .hidden-nav-bar button {
     border: none;
     
  }
  
}

.banner-section{
  padding: 18px 140px 80px 140px;
}

.banner-content{
  max-width: 640px;
  margin: 122px 0px;
}
.hero-banner{
  gap: 50px;
  align-items: center;
  justify-content: space-between;
}
.banner-title{
  font-family: Quicksand;
font-size: 56px;
font-weight: 700;
line-height: 61px;
letter-spacing: 0%;
text-align: left;
margin: 0px;
}
.yellow-font{
  color: rgb(254, 163, 1);
}
.blue-font{
 color:  rgb(1, 172, 253);
}

.banner-info{
  color: rgb(17, 17, 17);
font-family: Quicksand;
font-size: 20px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0%;
text-align: left;
margin: 24px 0px 24px 0px;
}
.banner-btn{
  color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 20px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
background-color: rgb(17, 17, 17);
border: none;
border-radius: 12px;
padding: 10px;
}
.banner-img img{
  max-width: 470px;
} 

@media screen and (max-width:576px) {
  .hero-banner{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

  }
  .banner-section {
    
    padding: 14px;
}
   .header-bg{
    padding: 20px;
  } 
  .banner-img img{
  width: 100%;
  }
  
}

.standardcurriculum{
   background-image: url('../assets/bg.png');
  background-repeat: no-repeat;
  padding-left: 0px 140px 0px 140px;
}

.curriculum-title{
  color: rgb(0, 0, 0);
font-family: Quicksand;
font-size: 2.87rem;
font-weight: 700;
line-height: 3.60rem;
letter-spacing: 0%;
text-align: center;

margin: 60px 0px 80px 0px;
}








.curriculum-card{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 28.29px;
}
.curriculum-card{
  
}



.cards{
   width: 367.8px;
height: 476.78px; 
  align-items: center;
  justify-content: center;
  text-align: center;
}




.blue-card{
  box-sizing: border-box;
  border: 0.94px solid rgb(222, 245, 255);
  border-radius: 18.86px;
  
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.yellow-card{
  box-sizing: border-box;
border: 0.94px solid rgb(255, 244, 220);
border-radius: 18.86px;

box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);

}
.yellow-card a{
 color: rgb(240, 170, 0);
}
.purpale-cards{
  box-sizing: border-box;
border: 0.94px solid rgb(242, 232, 255);
border-radius: 18.86px;

box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.purpale-cards a{
 color: rgb(135, 0, 255);
}
.card-title{
  color: rgb(32, 32, 32);
  font-family: Quicksand;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.9rem;
  letter-spacing: 0%;
  text-align: center;
}
.card-info{
  color: rgb(128, 128, 128);
  font-family: Raleway;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.8rem;
  letter-spacing: 0%;
  text-align: center;
  padding: 0px 40px 0px 40px;
}
.card-sub-title{
  color:rgb(100, 200, 255);
  font-family: Quicksand;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.8rem;
  letter-spacing: 0%;
  text-align: center;
}
.angle-btn{
  border-radius: 30px;

/* Orange */
background: rgb(254, 163, 1);
color: rgb(255, 255, 255);
font-family: Font Awesome 5 Free;
font-size: 1.5rem;
font-weight: 900;
line-height: 1.5rem;
letter-spacing: 0%;
text-align: center;
padding: 19px 22px;
border: none;

}
.angle-btn:hover{
       color: rgba(119, 202, 35, 0.5);
       cursor: pointer;
}
.btn{
  margin: 80px 0px 60px 0px;
text-align: center;
}

@media screen and (max-width:576px) {
  .btn{
    display: none;
  }
  .curriculum-card{
     grid-template-columns: repeat(1,1fr);
     align-items: center;
     justify-items: center;

  }
 
  .cards{
    width: 90%;
  }
}





/* story-section */

.story-section{
 background-image: url("../assets/bg.png"),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);;
  background-repeat: no-repeat;
  padding: 0px 140px 0px 140px;
  
}
.story-title{
  color: rgb(0, 0, 0);
font-family: Quicksand;
font-size: 2.87rem;
font-weight: 700;
line-height: 3.69rem;
letter-spacing: 0%;
text-align: center;
margin: 60px 0px 80px 0px;
}
.story-cards{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}
.story-colum1{
  width: 540px; 
 border-radius: 16px;

  background: rgb(255, 255, 255);
}
.story-colum1 img{
  border-radius: 16px 16px 0px 0px;
width: 100%;
  background: url(),rgb(217, 217, 217);
}
.story-content{
  padding: 3.75rem 4.25rem 2.18rem 2.17rem;
}
.story-blue-btn{
  border-radius: 47.93px;
border: none;
width: 174px;
  background: rgb(60, 216, 232);
  padding: 15px 19px;
  position: relative;
  top: -96px;
}
.story-content-title{
  color: rgb(0, 0, 0);
font-family: Quicksand;
font-size: 24px;
font-weight: 700;
margin: 0px;
letter-spacing: 0%;
text-align: left;
}
.story-content-info{
  color: rgb(102, 102, 102);
font-family: Raleway;
font-size: 15.34px;
font-weight: 500;
line-height: 28.76px;
letter-spacing: 0%;
text-align: left;
}


.story-colums2{
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 20px;
}
.sub-colums{
  max-width: 290.69px; 

border-radius: 16px;

background: rgb(255, 255, 255);
}
.sub-colums img{
  border-radius: 16px 16px 0px 0px;

background: url(),rgb(255, 255, 255);
}

.green-light-btn{
  background-color: rgb(149, 178, 38);
  width: 174.51px;
  position: relative;
  top: -26px;
  left: 34px;
}
.blue-btn{
  background-color: rgb(93, 88, 240); ;
}
.sub-colum-title{
  color: rgb(0, 0, 0);
font-family: Quicksand;
font-size: 1rem;
font-weight: 700;
line-height: 1.8rem;
letter-spacing: 0%;
text-align: left;
margin: 0px;
padding: 43px 54px 33px 38px;
}


.story-balck-btn{
  text-align: center;
  
}
.black-btn{
  color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 1.25rem;
font-weight: 700;
line-height: 1.87rem;
letter-spacing: 0%;
text-align: center;
padding: 10px 20px;
background-color:rgb(17, 17, 17) ;
border: none;
border-radius: 12px;
margin: 80px 0px 60px 0px;
width: 197px;
}

@media screen and (max-width:576px) {
  .story-colum1{
    display: none;
  }
  .story-colums2{
  
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  
}



.footer-bg{
  background-color:  rgb(1, 172, 253);
  padding: 123px 228px 174px 140px;
}
.footer-content{
     
     max-width:  1070.91px;
     margin: 0 auto;
     display: grid;
     grid-template-columns: repeat(3,1fr);
     gap: 120px;
}
.footer-title{
  color: rgb(255, 255, 255);
  font-family: Quicksand;
  font-size: 42.14px;
  font-weight: 700;
  line-height: 39.51px;
  letter-spacing: 0%;
  
  margin: 0px;
}
.footer-info{
  color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 20px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0%;
text-align: left;
margin: 35px 0px 0px 0px ;
}
.about-titel{
  color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 24px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
margin: 0px 0px 32px 0px;
}
 .footer-colum2 ul{
  list-style: none;
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.nav-item a{
  color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 20px;
font-weight: 500;
line-height: 25px;
letter-spacing: 0%;
text-align: left;
text-decoration: none;
}
.communication-section{
  color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 26px;
font-weight: 700;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
margin: 0px 0px 32px 0px;
}
.inline-item{
   
  align-items: center; 
}


@media screen and (max-width:576px) {
  .footer-content{
    padding: 20px 15px 20px 12px;
    grid-template-columns: 1fr;
    gap: 25px;
  }
.footer-bg{
  padding: 20px 25px;
}
}